
* {
  box-sizing: border-box;
}

/* O Corpo da nossa page*/
body{
  background-image: url("images/wood.jpg");
  font-family: 'Poppins', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
 
}



/* Header da página principal */
.header {
  width: 100%;
  padding: 15px 15px;
  background-color: rgba(193, 117, 81, 0.6);
  border-bottom-style: solid;
  border-bottom-color:rgb(171, 133, 87);
  display: flex;
}

/* Log In */
.header form {
  padding: 0.7em 10px;
  border-radius: 5px;
  background-color: rgb(193, 117, 81);
  position:absolute;
  right: 50px;  
  margin-top: 30px;
}

/* LOGO DO JOGO */
.header img {
  margin-left: 10px;
  height: 100px;
  width:  150px;
}



/* Display dos Butões */
.modal-buttons {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Aspeto dos Butões */
button {
  width: 150px;
  padding: 10px;
  margin-bottom: 1em;
  background-color: #47331fc1;
  color: white;
  font-weight: bold;
  border: 1.5px solid #ebb386;
  border-radius: 10px;
  cursor: pointer;
}

/* Para ficar mais escuro quando se passa por cima */
button:hover {
  background-color: #47331f76;
}

/* Aspeto do modal e posicionamento do seu interior */
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0; /* this is equal to 'top: 0; right: 0; bottom: 0; left: 0; */
  height: 550px;
  margin: 100px 300px 300px;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/game.jpg");
  background-size: cover;
  color:white;
}

/* Aspeto e posição do butão close */
.modal-close{
  width: fit-content;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 0px;
}

/* esconde o modal quando o butão close é carregado */
.modal-hidden {
  display: none;
}



/* Parte do Jogo */
/* O Nosso tabuleiro */
.tabuleiro {
  display: flex;
  flex-direction: row;
  height: 260px;
  width: fit-content;
  padding: 15px 15px;
  border-radius: 15px;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/wood2.jpg");
  background-size: cover;
  position: relative;
}

/*armazens*/
#bottom_armazem, #top_armazem{
  width: 70px;
  height: 100%;
  background-color: rgba(92, 64, 51, 0.7);
  border-radius: 35px;
  transform: translateY(-7%);
}

/* bloco das cavidades superiores e inferiores */
.cavidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* display das cavidades superiores e inferiores*/
#top_cavidades, #bottom_cavidades{
  display: flex;
}

/* aspeto das cavidades*/
.cavidade{
  width: 50px;
  height: 80px;
  background-color: rgba(92, 64, 51, 0.7);
  border-radius: 25px;
  margin: 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-flow: wrap; /* Resolve o overflow dos feijões */
}



/* Parte das Configurações*/
.ncav{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* Display e aspeto do slider */
.slider {
  width: 75%; /* Full-width */
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}


/* Posição dos títulos */
h1{
  position: absolute;
  top: 0;
}

.tabuleiro img{
  width: 15px;
  height: 15px;
}