body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/background2.jpg");
}

* {
    margin: 0;
    padding: 0;
}

.mainmenu {
    margin-top: 20px;
    display: inline-block;
    position: relative;
    width: 100%;
   }
  
.mainmenu li a
{
    display: block;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-size: 10px;
    color: gray;
    line-height: 32px;
    font-weight: bold;
    text-shadow: black 0 1px 0;
    font-family: sans-serif;
    white-space: nowrap;
}
  
.mainmenu ul.menu-element {
    margin: 0;
    width: 100%;
}
  
.mainmenu ul.menu-element li {
    opacity: 45%;
    float: right;
    list-style: none;
    width: 10%;
}
  
.mainmenu ul.menu-element li:hover {
    opacity: 80%;
    float: right;
    list-style: none;
    width: 10%;
}

  
.mainmenu img {
    border: 0;
    vertical-align: middle;
    max-width: 37%;
}

.tabuleiro{
    border-radius: 30px;
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-image: url(/images/wood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    margin: 150px auto;
}

.tabuleiro > div {
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

.item1 {
    grid-row-start: 1;
    grid-row-end: 2;
  } 